

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(./theme-rules.css);

:root {
    --color-default-background: #e1dfd0;
    --color-ivory-background: #e1dfd0;
    --color-gray-foreground: #24262b;
    --color-html-foreground: #f06529;
    --color-green-foreground: #659377;
    --color-dark-foreground: #2f2f2f;
    --color-dark-background: #1e1e1e;
    --color-gray-foreground: #797979;
    --color-red-foreground: #ff4b4b;
    --color-bluegreen-foreground: #21b6a8;
}

html, body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-dark-background);

    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-bluegreen-foreground) var(--color-dark-foreground);
}

* {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

nav {
    position: sticky;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    z-index: 6;
    padding: 1rem;
    background-color: var(--color-dark-foreground);
    display: flex;
    gap: .3rem;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: var(--color-bluegreen-foreground);
}

nav > * {
    margin: auto 0;
}

nav p {
    color: #fff;
}

main {
    font-size: 1.2em;
}

h1, h2, p, a {
    color: #fff;
}

h1 {
	margin: 0;
}

img {
    user-select: none;
}

mark[name='outline'] {
    background-color: var(--color-bluegreen-foreground);
    font-weight: bold;
    padding: 0 2px;
}

mark[name="upper-text"] {
    color: var(--color-gray-foreground);
    background-color: #0000;
}

mark[name="name-text"] {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #0000;
    color: #fff;
}

footer {
    padding: 1rem;
    background-color: var(--color-dark-background);
    text-align: center;
}

footer > p {
    color: #ffffff40;
    font-size: .78rem;
}

.my-name-style {
    letter-spacing: 3px;
}

.my-name-style::after {
    content: '}';
    color: var(--color-bluegreen-foreground);
}

.my-name-style::before {
    content: '{';
    color: var(--color-bluegreen-foreground);
}

.nav-options {
    width: 100%;
    display: flex;
    justify-content: right;
    gap: .825rem;
}

.nav-options > section {
    display: flex;
    gap: .2rem;
}

.nav-options a {
    color: #fff;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 1px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: transparent;
    transition: border-color .3s linear;
}
.nav-options a:hover {
    border-color: var(--color-bluegreen-foreground);
}

.nav-options a::before {
    content: '•';
}

.nav-options img {
    filter: invert(1);
}

.base-profile {
    display: flex;
    margin: 2rem;
    padding: 5rem 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.base-profile header {
    text-align: center;
}

.base-paragragh-area-1 {
    margin: 2rem 0;
}

.base-paragragh-area-2 {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* Website platforms icons */
.base-paragragh-area-2 > section > img {
    width: 40px;
    border-radius: 0;
    filter: invert(1);
    transition: transform .25s linear;
}

.base-paragragh-area-2 > section > img:hover {
    transform: scale(1.16);
    cursor: pointer;
}

.base-profile header > h1 {
    color: #fff;
    font-size: 2.6rem;
    margin: 0;
    text-align: left;
}

.base-profile section > p {
    color: var(--color-gray-foreground);
    font-size: 1rem;
    text-wrap: wrap;
    letter-spacing: 2px;
    margin: 0;
}

.base-profile > section {
    text-align: center;
}

.profile-picture > img {
    border-radius: 12rem;
    width: 16rem;
}

.base-section {
    display: flex;
    background-color: #0000;
    padding: 4rem;
    gap: 8rem;
}

.base-section h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    white-space: nowrap;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #21b6a8;
}

.base-section p {
    margin: 22px 0;
}

/* Bright technologies section */
.bright-section-main {
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.bright-section-main h1, .bright-section-main p {
    color: #000;
}

.bright-section-main p {
    text-align: end;
}

.bright-section {
    background-color: #eee;
    display: block;
}

.bright-section > :nth-child(2) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.bright-section > :nth-child(2) > * {
    margin: 0;
    transition: all 0.25s linear;
}

.bright-section > :nth-child(2) > *:hover {
    transform: scale(1.16);
    cursor: pointer;
}

.bright-section h1 {
    text-align: center;
    border-color: #000;
    color: var(--color-gray-foreground);
	font-weight: normal;
    border-style: none;
	margin: 1rem;
}

.bright-section img {
    height: 4rem;
}

.icons-grayscale {
    filter: saturate(0);
}

.projects-section {
    display: block;
    padding: 4rem;
}

.projects-section > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-section > :nth-child(even) {
    align-items: end;
}

/* Projects icons */
.projects-section > section > section {
    position: relative;
    width: 80vmin;
    overflow: hidden;
    cursor: pointer;
    /*border-radius: 2rem;*/
}

.projects-section > section > section img {
    width: inherit;
    transition: filter .25s linear, transform .5s linear, opacity .3s linear;
}
.projects-section > section > section > :not(:first-child):not(span) {
    position: absolute;
	top: 0;
    left: 0;
    opacity: 0;
}
.projects-section > section > section:hover img {
    filter: blur(3px);
    transform: scale(1.06);
}

.projects-section > section > section span {
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity 0.25s linear;
    width: 100%;
    text-align: center;
    background-color: #000000a1;
    padding: 1rem;
    font-size: 1.25rem;
    box-sizing: border-box;
}
.projects-section > section > section:hover span {
    opacity: 1;
}


