
.modal-background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: #00000063;
	/*z-index: 10;*/
}

.modal-body {
	/*width: 800px;
	height: 100px;*/
	position: fixed;
	top: 50%;
	right: 50%;
	/*z-index: 100;*/
	background-color: var(--color-dark-foreground);
	box-shadow: 0 0 1rem #00000078;
	transform: translateX(50%) translateY(-50%);
	transition: opacity .25s linear, top .25s linear;
	box-sizing: border-box;
	padding: .1rem 1rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	animation-name: modal-appear-animation;
	animation-duration: .35s;
	animation-timing-function: ease-in-out;
}

.modal-body > p {
	word-break: break-word;
}

.modal-body > button {
	margin: auto 0 .75rem 0;
	cursor: pointer;
	border-style: solid;
	border-radius: .3rem;
	background-color: #4a4a4a;
	color: #fff;
	border-color: #242424;
	padding: .35rem;
}

.modal-close-area {
	margin: .1rem 0;
}

.modal-close-area > p {
	margin: .65rem 0 0 auto;
	text-align: right;
	font-size: 13px;
	opacity: .65;
	cursor: pointer;
	width: fit-content;
}

.modal-close-area > hr {
	border-style: solid;
	opacity: .35;
}

@keyframes modal-appear-animation {
	from {
		opacity: 0;
		top: 60%;
	}
	to {
		opacity: 1;
		top: 50%;
	}
}
